:root {
    --theme-red: #FF1D6C;
    --theme-green: #007350;
    --theme-yellow: #FFB72C;
    --text-color: #0D0B0C;
}

body {
    margin: 0; 
    font-family: 'Noto Sans TC', sans-serif;
    background: #E5E5E5;
}

.section-without-home {
    width: 1280px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NavBar Icon */
#icon {
    padding: 0 3.5rem;
}
#icon img {
    width: 99px;
    height: 57px;
    object-fit: cover;
}

/* NavBar三個按鈕 */

#nav-flex-container {
    width: auto;
    padding: 1.5rem 2rem 0 2rem;
    background: white;
    display: flex;
    justify-content: space-between;
}

#nav-flex-container-1 {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    text-decoration: none;
}

.nav-flex-container-2 {
    display: flex;
    padding: 0 1rem;
}
.nav-flex-container-2 a {
    text-decoration-line: none;
}

.nav-flex-container-3 {
    display: flex;
    align-items: center;
    font-weight: 400;
    
}
.nav_a {
    padding-left: 0.5rem;
    text-decoration-line: underline;
}

#home-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 38rem;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* Welcome to Taiwan */
#home-pic-container {
    margin: 1.5rem;
    width: auto;
    height: 100%;
    background-color: antiquewhite;
    text-align: center;
    position: relative;
    /* background-size: cover; */
}

#home-pic-container img {
    /* margin: 0;
    padding: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    animation: slides 50s linear infinite;
}
@keyframes slides {
    2% {
    opacity: 1;
    filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
    opacity: 1;
    filter: alpha(opacity=100);
        /* 1- 10秒靜止*/
    }
    22% {
    opacity: 0;
    filter: alpha(opacity=0);
        /* 10-11秒淡出*/
        }
    }

#home-pic-container img:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#home-pic-container img:nth-child(2) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
#home-pic-container img:nth-child(3) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}
#home-pic-container img:nth-child(4) {
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}
#home-pic-container img:nth-child(5) {
    -webkit-animation-delay: 40s;
    animation-delay: 40s;
}



/* Search Area */
.home-intro {
    height: auto;
    position: absolute;
    z-index: 100;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    /* line-height: 59px; */
    text-align: center;
    margin: auto;
/* word */
    color: #FFFFFF;
/* shadow_word */
    text-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
h1 span {
    color: #FF1D6C;
}
.home-intro h6 {
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin: 9px;
}
.home-intro form {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.searchbox-container {
    position: relative;
    width: 450px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
#home-searchbox {
    position: absolute;
    width: 430px;
    height: 40px;
    margin: 0 10px;
    border: 0;
}
/* 去掉點擊時的外框 */
input:focus {
    outline: none;
}

#home-search-select {
    position: relative;
    width: 500px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.search-type-container, .search-city-container, .default {
    width: 245px;
    height: 40px;
    position: relative;
    border: 0;
    
}
.default {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    background-color: white;
    margin-right: 6px;
}
.default li::before {
    content: url('Images/dropdown-icon.svg');
    z-index: 30;
    position: absolute;
    right: 10px;
    top: 7.5px;
}

.default li {
    padding: 7px 12px;
    margin: 0;
}
.default-first li {
    letter-spacing: 31px;
}

.type-option, .city-option {
    list-style: none;
    position: absolute;
    top: 100%;
    margin-top: 0.2rem;
    padding: 0;
    height: 200px;
    width: 245px;
    overflow: scroll;
    border-radius: 6px;

}
/* li設小一點讓字靠中一點 */
.type-li, .city-li {
    position: relative;
    width: 221px;
    height: 26px;
    padding: 7px 12px;
    color: var( --text-color );
    text-decoration-line: none;
    background-color: white;
    /* 顏色設在li上，因為type這個選單比較短 */
}

/* 圓弧要補上 */
.type-li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.city-li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* a就是放在li裡面讓人點而已，字都在li裡面 */
.type-li a, .city-li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 245px;
    height: 40px;
    margin: 0;
    color: var( --text-color );
    text-decoration-line: none;
}

.city-li {
    letter-spacing: 7px;
}
.type-li {
    letter-spacing: 31px
}

/* 游標上去反紅 */
.type-li:hover {
    background-color: var( --theme-red );
    color: white;
}
.city-li:hover {
    background-color: var( --theme-red );
    color: white;
}
/* 點開箭頭向上 */
.search-type-container.active .default li::before {
    transform: rotate(-180deg);
    top: 10px;
}
.search-city-container.active .default li::before {
    transform: rotate(-180deg);
    top: 10px;
}
/* 點擊打開選單 */
.search-type-container.active .type-option {
    visibility: visible;
}
.search-city-container.active .city-option {
    visibility: visible;
}
/* 平常選單收起 */
.type-option {
    visibility: hidden;
}
.city-option {
    visibility: hidden;
}


#search-btn {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #FF1D6C;
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
    cursor: pointer;
}
#search-icon {
    width: 15px;
    height: 16.07px;
}




/* section 1 熱門城市*/

.small-title {
    margin: 0 auto 1rem 12%;
    display: flex;
    align-content: center;
}
.title-word {
    color: #0D0B0C;
    margin: 0.7rem;
    font-size: 20px;
}


.card-container, .card-container-1 {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.card-column, .card-column-1 {
    width: 202px;
    height: 244px;
    margin: auto 0.5rem;
    background: white;
    /* border-style: dotted; */
    text-align: center;
}

.card-column:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-column:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-column:nth-of-type(2) {
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.card-column:nth-of-type(4) {
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.card-column:nth-of-type(6) {
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}


.card-column-1:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-column-1:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-column-1:nth-of-type(2) {
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.card-column-1:nth-of-type(4) {
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.card-column-1:nth-of-type(6) {
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}


.card-odd-container, .card-even-container {
    cursor: pointer;
}
.card-even-container, .card-even-container-1 {
    width: auto;
    height: auto;
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}
.card-even {
    width: 186px;
    height: 104px;
    margin: 7px 8px;
    background-color: rgba(0,0,0,0.3);
}
.card-odd {
    width: 176px;
    height: 216px;
    margin: 14px 13px;
}

.card-even p, .card-odd p {
    margin: 3px;
    color: white;
}
.card-odd img {
    margin: 5rem auto auto;
}
.card-even img {
    margin: 2rem auto auto;
}


.hidden_button, #cities_sec_button_pre, #cities_fir_button_next {
    width: auto;
    height: auto;
    margin: auto 0.5rem auto 0.5rem;
    cursor: pointer;
}

.card-container-1 {
    display: none;
}


/* Section 2 */
#travelCards {
    height: auto;
    padding: 0;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.travel-card {
    width: 506px;
    height: 212px;
    padding: 16px;
    margin: 0.5rem 0.4rem;
    background: white;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}

.travel-pic-div {
    width: auto;
    height: auto;
    /* position: relative;
    overflow: hidden; */
    display: flex;
    align-items: center;
} 
.travel-picture {
    object-fit: cover;
    width: 187px;
    height: 196px;
    padding: 0;
    /* position: absolute; */
    /* top: 40%; */
    /* left: 30%; */
    /* display: block; */
    /* min-width: 100%;
    height: 100%; */
    /* transform: translate(-40%, -40%); */
}

.travel-content {
    position: relative;
    width: 287px;
    height: 200px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.travel-title {
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 字超出該行就要化為...h3一行就要收，p是4行 */
.travel-text {
    margin-bottom: 1rem;
    color: #ACACAC;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


.loca-btn-container {
    /* margin-bottom: 0.5rem; */
    font-size: 14px;
    /* line-height: 21px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.travel-loca {
    display: flex;
    align-items: center;
}

.loca-btn-container span {
    margin: auto 0.5rem;
}
.loca-btn-container img {
    width: 16px;
    height: 19px;
}
.travel-btn-container {
    width: 120px;
    height: 36px;
    margin: auto 0 0 0;
    border: 0.05rem solid #FF1D6C;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-weight: 400;
    font-size: 14px;
    color: var( --theme-red );
}

.travel-btn-container:hover {
    background-color: var( --theme-red );
    color: white;
}

/* travel-popups */
.eachPopup {
    display: none;
    justify-content: center;
}

.back-blur {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.2);
}

.card-btn-container {
    width: 790px;
    height: 825px;
    z-index: 2000;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center
}
.detail-card-container {
    width: auto;
    height: 825px;
    background-color: white;
    margin: 0;
    padding: 0;
    position: relative;
}
.detail-content-container {
    height: 761px;
    width: 612px;
    margin: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.detail-pic {
    width: 612px;
    height: 459px;
    object-fit: cover;
    margin: 0 0 32px 0;
}
.detail-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
}
.detail-text {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: var( --text-color );
}
.loca-phone-container {
    width: 612px;
    height: 32px;
    margin: 0;
    display: flex; 
    position: absolute;
    bottom: 0;
    /* display:flex讓兩個box可以併排 */
}
.loca-phone-box {
    width: 306px;
    align-items: center;
}
.loca-phone-container div {
    display: flex;
}
.loca-phone-container img, .loca-phone-container svg {
    margin: 0 16px 0 0;
    width: auto;
    height: 19px;

}

.popup-close-btn {
    width: 45px;
    height: 45px;
    background-color: var( --theme-red );
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(13, 11, 12, 0.2);
    z-index: 2000;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.popup-close-btn.inside {
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    z-index: 2000;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}



#foodCards {
    width: auto;
    height: 521px;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.food-card {
    margin: 0 6px;
    width: 206px;
    height: 243px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
    cursor: pointer;
    justify-content: space-between;
}

.food-pic-div {
    width: auto;
    height: auto;
    display: flex;
    justify-items: center;
}

.food-pic-div img {
    margin: 12px;
    object-fit: cover;
    width: 182px;
    height: 137px;
}

.food-name {
    margin: 0 12px 0 12px;
    font-size: 14px;
    font-weight: 400;
    color: #0D0B0C;
    text-decoration-line: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.loca-pin-div {
    margin: 0 12px 15.5px 12px;
    font-size: 12px;
    color: #007350;
    display: flex;
    align-items: center;
}
.loca-pin-div img {
    width: 11px;
    height: 13px;
}
.loca-pin-div span {
    margin: 0 0 0 3px;
}

.food-content {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    width: auto;
    height: 65px;
    background-color: #FFFFFF;
    color: #ACACAC;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    margin: 0;
    width: auto;
    height: auto;
}


@media (max-width: 1280px) {
    .section-without-home {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .card-container, .card-container-1 {
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: flex-start;
    }
    .hidden_button {
        display: none;
    }
    
}

@media (max-width: 1102px) {
    .travel-card {
        width: 100%;
    }
    .travel-content {
        width: 100%;
    }
    #foodCards {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(5, 350px);
        grid-gap: 3.5rem;
    }
    .food-card {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .food-pic-div {
        width: 100%;
    }
    .food-pic-div img {
        width: 100%;
        height: 225px;
    }
    .food-name {
        font-size: 20px;
    }
    .loca-pin-div span {
        margin: auto 0.5rem;
        font-size: 16px;
    }
    .loca-pin-div img {
        width: 16px;
        height: 19px;
    }
}

@media (max-width: 930px) {
    #foodCards {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(5, 300px);
        grid-gap: 2rem;
    }
    .food-pic-div img {
        width: 100%;
        height: 180px;
    }
}

@media (max-width: 800px) {
    .popup-close-btn.outside {
        display: none;
    }
    .popup-close-btn.inside {
        visibility: visible;
    }
    .card-btn-container {
        width: 100%;
    }
}

@media (max-width: 746px) {
    .travel-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    #foodCards {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 240px);
        grid-template-rows: repeat(5, 270px);
        grid-gap: 2rem;
    }
    .food-pic-div img {
        width: 100%;
        height: 130px;
    }
    .food-name {
        font-size: 16px;
    }
    .loca-pin-div span {
        font-size: 14px;
    }
    .loca-pin-div img {
        width: 11px;
        height: 13px;
    }

    .home-intro h1 {
        font-size: 45px;
    }

    .card-btn-container {
        width: 100%;
        height: 100%;
    }
    .detail-card-container {
        width: 100%;
        height: 100%;
    }
    .detail-content-container {
        width: auto;
        height: 100%;
        margin: 0;
    }
    .detail-pic {
        width: 100%;
        height: 40vh;
        margin-bottom: 16px;
    }
    .detail-title, .detail-text {
        margin: 0 16px 12px;
    }
    .detail-title {
        font-size: 16px;
    }
    .detail-text {
        font-size: 12px;
    }
    .loca-phone-container {
        width: 100%;
        margin: 0 0 16px 16px;
        justify-content: space-between;
        font-size: 8px;
    }
}

@media (max-width: 625px) {
    #nav-flex-container {
        padding: 0 2rem 0;
        flex-direction: column;
        align-items: center;
    }
    #nav-flex-container-1 {
        width: 100%;
        padding: 0;
        justify-content: space-around;
    }

    #icon {
        margin: 1.5rem 0 1rem;
    }
    .nav-flex-container-2 {
        padding: 0;
    }
    .nav-flex-container-3 img {
        display: none;
    }
}


@media (max-width: 576px) {
    .travel-title {
        white-space:pre-wrap;
    }
    #travelCards {
        width: 100%;
    }

    #foodCards {
        height: auto;
        display: flex;
        grid-gap: 0;
    }
    .food-card {
        padding: 16px;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0.5rem 0.4rem;
    }
    .food-pic-div {
        width: auto;
    }
    .food-pic-div img {
        width: 187px;
        height: 150px;
        margin: 0;
    }
    .food-content {
        width: auto;
        height: auto;
    }
    .loca-pin-div img {
        width: 16px;
        height: 19px;
    }
    

    #home-search-select {
        position: relative;
        width: 250px;
        height: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .search-city-container {
        margin: 3px 0 0;
    }
    .search-type-container, .search-city-container, .default, .type-option, .type-li a, .city-option, .city-li a {
        width: 100%;
    }
    .type-li, .city-li {
        width: auto;
        z-index: 500;
    }
    .home-intro form {
        width: 250px;
    }
    .searchbox-container {
        width: 200px;
    }
    #home-searchbox {
        width: 180px;
    }
    .home-intro {
        width: 270px;
    }
    .home-intro h1 {
        font-size: 35px;
    }
    .home-intro h6 {
        font-size: 10px;
    }
    #home-container {
        height: 28rem;
    }

}

@media (max-width: 535px) {
    .travel-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .travel-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .loca-btn-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .travel-loca {
        margin-bottom: 0.5rem;
    }
    .travel-btn-container {
        width: 100%;
    }
}

@media (max-width: 415px) {
    .travel-card {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .travel-pic-div, .travel-picture {
        width: 100%;
    }
    .travel-title {
        margin-top: 0.5rem;
        line-height: auto;
    }
    .travel-content {
        height: auto;
    }
    .food-pic-div img {
        width: 130px;
        height: 95px;
        margin: 0;
    }
}

@media (max-width: 380px) and (max-height: 600px) {
    .detail-pic {
        height: 0vh;
    }
}

@media (max-width: 280px) {
    .travel-picture {
        height: 150px;
    }
    .food-card {
        flex-direction: column;
        height: 270px;
    }
    .food-pic-div img {
        width: 100%;
        height: 150px;
    }
    .food-content {
        height: 100%;
    }
}




